@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .default-button {
        @apply inline-block px-5 mb-2 mr-2 text-white bg-gray-800 rounded-lg py-2.5 transition-colors hover:bg-cherry;
    }
    h2 {
        @apply text-2xl font-bold mb-4;
    }
    p {
        @apply text-gray-400 mb-4;
    }
    a {
        &.link-hover {
            @apply transition-colors text-green-300 my-4 hover:text-sky-400;
            &::before {
                content: "[ ";
            }
            &::after {
                content: " ]";
            }
        }
        &.link {
            @apply text-blue-500 underline;
        }
    }
}

.required::after {
    content: " *";
    color: gray;
}
