function whoAmI(params) {
    return 'user';
}

function cat(params) {
    let projectsContents = 'Visit my <a href="https://github.com/messatsuu" class="link">GitHub</a> to see my projects.'
    let aboutMeContents = 'My name is Messatsu. I am a web developer. Try running "neofetch" to get more information about me.';

    if (params.includes('aboutme')) {
        return aboutMeContents;
    }
    if (params.includes('projects')) {
        return projectsContents;
    }
    if (params.includes('*')) {
        return aboutMeContents + '<br/><br/>' + projectsContents;
    }
    return "Usage: cat `filename`";
}

function listFiles(params) {
    return 'aboutme projects';
}

function clear(params) {
    $("#output").html('');
    return '';
}

// Example command function
function neofetch(params) {
    return `
        <div class="p-8 rounded-md">
        
          <h2>About Me</h2>
          <p>
            Hi, I'm messatsuu, a passionate developer with a love for creating web applications.<br/>My expertise lies in Symfony and Fullstack-Development. 
            Check out my projects on 
            <ul class="list-disc pl-6">
              <li><a href="https://github.com/messatsuu" class="link">GitHub</a></li>
              <li><a href="https://github.com/messatsuu" class="link">Mastadon</a></li>
              <li><a href="https://github.com/messatsuu" class="link">Twitter</a></li>
              <li><a href="https://github.com/messatsuu" class="link">Instagram</a></li>
            </ul>
          </p>
          <p>
            If you have any Ideas for Projects or Questions, feel free to contact me via <a class="link" href="https://discord.com">Discord</a>
            <ul class="list-disc pl-6 mb-6">
              <li><a href="#" class="link">Personal Website</a></li>
            </ul>
          </p>
          <p>
            Test out the terminal! Type <span class="text-blue-500">help</span> to get a list of commands.
          </p>
  <h2>My Stack</h2>
        <pre class="text-sky-400 tracking-tighter md:hidden" style="font-family: 'JetBrains Mono'">

                   -"
                  .o+"
                 "ooo/
                "+oooo:
               "+oooooo:
               -+oooooo+:
             "/:-:++oooo+:
            "/++++/+++++++:
           "/++++++++++++++:
          "/+++ooooooooooooo/"
         ./ooosssso++osssssso+"
        .oossssso-""""/ossssss+"
       -osssssso.      :ssssssso.
      :osssssss/        osssso+++.
     /ossssssss/        +ssssooo/-
   "/ossssso+/:-        -:/+osssso+-
  "+sso+:-"                 ".-/+oso:
 "++:.                           "-/+/
 ."                                 "/

<span class="text-white">messatsuu@archlinux</span>
----------------- 
<span class="text-gray-400">OS: Arch Linux x86_64</span> 
<span class="text-gray-400">Kernel: 6.1.64-1-lts</span> 
<span class="text-gray-400">Editor: nvim 0.9.4</span>
<span class="text-gray-400">Employer: <a href="https://cloudtec.ch" class="link">Cloudtec</a></span> 
<span class="text-gray-400">Experience: Symfony, React, Vue.js</span> 
<span class="text-gray-400">Learning: nixOS, Rust, clang</span>  
<span class="text-gray-400">Host: ThinkPad E570</span> 
<span class="text-gray-400">DE: Hyprland</span> 
<span class="text-gray-400">Uptime: 420 hours, 69 mins</span> 
<span class="text-gray-400">Shell: zsh 5.9</span> 
<span class="text-gray-400">Terminal: tmux/kitty</span> 
<span class="text-gray-400">CPU: Intel i7-7500U (4) @ 3.500GHz</span> 
<span class="text-gray-400">GPU: Intel HD Graphics 620</span> 
<span class="text-gray-400">GPU: NVIDIA GeForce GTX 950M</span> 
<span class="text-gray-400">Memory: 9499MiB / 15780MiB</span> 
        </pre>
        <pre class="text-sky-400 tracking-tighter hidden md:block" style="font-family: 'JetBrains Mono'">

                           -"                        <span class="text-white">messatsuu@archlinux</span>
                          .o+"                       ----------------- 
                         "ooo/                       <span class="text-gray-400">OS: Arch Linux x86_64</span> 
                        "+oooo:                      <span class="text-gray-400">Kernel: 6.1.64-1-lts</span> 
                       "+oooooo:                     <span class="text-gray-400">Editor: nvim 0.9.4</span>
                       -+oooooo+:                    <span class="text-gray-400">Employer: <a href="https://cloudtec.ch" class="link">Cloudtec</a></span> 
                     "/:-:++oooo+:                   <span class="text-gray-400">Experience: Symfony, React, Vue.js</span> 
                    "/++++/+++++++:                  <span class="text-gray-400">Learning: nixOS, Rust, clang</span>  
                   "/++++++++++++++:                 <span class="text-gray-400">Host: ThinkPad E570</span> 
                  "/+++ooooooooooooo/"               <span class="text-gray-400">DE: Hyprland</span> 
                 ./ooosssso++osssssso+"              <span class="text-gray-400">Uptime: 420 hours, 69 mins</span> 
                .oossssso-""""/ossssss+"             <span class="text-gray-400">Shell: zsh 5.9</span> 
               -osssssso.      :ssssssso.            <span class="text-gray-400">Terminal: tmux/kitty</span> 
              :osssssss/        osssso+++.           <span class="text-gray-400">CPU: Intel i7-7500U (4) @ 3.500GHz</span> 
             /ossssssss/        +ssssooo/-           <span class="text-gray-400">GPU: Intel HD Graphics 620</span> 
           "/ossssso+/:-        -:/+osssso+-         <span class="text-gray-400">GPU: NVIDIA GeForce GTX 950M</span> 
          "+sso+:-"                 ".-/+oso:        <span class="text-gray-400">Memory: 9499MiB / 15780MiB</span> 
         "++:.                           "-/+/      
         ."                                 "/                               

        </pre>
            <span>This website was styled with the <a class="link" href="https://github.com/folke/tokyonight.nvim">tokyonight.nvim theme</a> and inspired by <a class="link" href="https://bashbunni.dev">bashbunni.dev</a></span>
        </div>
    `;
}

function echo(params) {
    if (params.includes('$EDITOR')) {
        return '<a href="https://github.com/messatsuu/nvim/tree/lsp-based" class="text-blue-500 underline">Neovim!</a>';
    }
    if (params.includes('$XDG_SESSION_TYPE')) {
        return '<a href="https://gist.github.com/probonopd/9feb7c20257af5dd915e3a9f2d1f2277" class="link">Wayland FTW</a>';
    }
    return params.join(' ');
}

function getCurrentDirectory(params) {
    return '/home/messatsuu/';
}

function mkdir(params) {
    if (params.length > 0) {
        return `mkdir: cannot create directory ‘${params[0]}’: Permission denied. Try running with sudo.`;
    } else {
        return 'Usage: mkdir `directory`';
    }
}

function sudo(params) {
    return 'User is not in the sudoers file. This incident will be reported.<br/><br/>Just kidding.';
}

function changeDirectory(params) {
    if (params.length > 0) {
        return `cd: no such file or directory: ${params[0]}`;
    } else {
        return 'Usage: cd `directory`';
    }
}

// Example command function
function showHelp(params) {
    return 'Available commands: ls, pwd, cd, cat, echo, whoami, clear, nvim, sudo, help<br/><br/>env-vars: $EDITOR $XDG_SESSION_TYPE';
}

